{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

<aside class="donation" role="complementary">
  <!-- 알리 광고 -->
  <!-- {% linkpreview "https://s.click.aliexpress.com/e/_DkXvbeZ" %} -->
  <h2 class="hr"></h2>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="kkol" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
</aside>

{% if author.about %}
  <aside class="author" role="complementary">
    {% include author.html author=author heading='About' heading_tag='h2' %}
  </aside>
{% endif %}
